
.modal-dialog {
  width: 300px;
}

.modal-footer {
  height: 70px;
  margin: 0;
}

.modal-footer .btn {
  font-weight: bold;
}

.modal-footer .progress {
  display: none;
  height: 32px;
  margin: 0;
}

.input-group-addon {
  color: #fff;
  background: #3276B1;
}

.btn {
  margin: 0px;
  height: 50px;
  width: 100px;
  border: none;
}

.search {
  height: 50px;
  width: ;
  padding-left: 10px;
}

.center-af {
  margin: 0 auto;
  height: 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 0;
  border: none;
}

body {
  background-color: rgba(52, 73, 94,1.0);
}

.jumbotron {
  background-color: rgba(52, 152, 219,1.0);
  color: white;
}

#moo-pic {
    -vendor-animation-duration: 4s;
    -vendor-animation-delay: 3s;
    -vendor-animation-iteration-count: infinite;
}
